
.joinus-section {
    background-image: url(/assets/home-bottom-bg.jpg);
    text-align: center;
}
.joinus-icon {
    margin-bottom: 40px;
}
.joinus-text {
    margin: auto;
    width: 40%;
    color: #504840;
    font-size: 38px;
    line-height: 47px;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 40px;
}
.joinus-btn {
    background-color: #ac8a62;
    color: #ffffff;
    font-size: 120%;
    padding: 15px 40px;
    border: none;
    margin-bottom: 400px;
}