
.picture-bg {
    background-color: #363f36;;
}
.css-19r6kue-MuiContainer-root {
    padding: 0px;
}
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    background-color: #363f36;  
}
.css-46bh2p-MuiCardContent-root {
    padding: 0px;
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    background-color: #363f36;
}